PORT=3002
SUPABASE_URL=https://irtlnvkrmbzkervogczp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/bbc/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://localhost:8080/realms/bbc
